#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  color: white;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.links {
  margin-top: 2rem;
}

.linkbox-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 20px;

  a {
    padding: 1rem;
  }
}

