#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.logo {
  color: white;
  width: 96px;
  height: 96px;
}

@media (max-width: 640px) {
  .logo {
    width: 64px;
    height: 64px;
  }

  .linkbox {
    padding: 0.5rem;

    span {
      font-size: 1.5em;
    }
  }
  
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.links {
  margin-top: 2rem;
}

.linkbox-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 20px;

  a {
    padding: 1rem;
  }
}
