#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  color: white;
}

.about-me {
  color: #ffffff;
}

.linksContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;

  a {
    padding: 1rem;
  }
}