:root {
  font-family: 'Roboto', 'system-ui', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(27, 27, 26));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}

p {
  font-size: 1.2em;
  margin: 0;
  color: #ffffff;
}

.linkbox {
  text-decoration: none;
  padding: 1em;

  span {
    font-size: 2em;
    color: white;
  }
}

.linkbox:hover {
  span {
    color: #646cff;
  }
}

@media (max-width: 808px) {
  p {
    font-size: 14px;
  }
}

